@import url('/fonts/iransans/iransans.css');
@import url('/fonts/rubik/rubik.css');
@import url('/fonts/lalezar/lalezar.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-bg-primary: 255, 255, 255;
    --color-bg-secondary: 151, 251, 87;
    --color-text-primary: 38, 36, 36;
    --color-text-secondary: 96, 96, 96;
    --color-border: 217, 217, 217;
    --color-bg-input: 244, 244, 244;
    --color-success: 34, 197, 94;
    --color-success-trans: 34, 197, 94;
    --color-warning: 255, 193, 7;
    --color-error: 239, 68, 68;
}

.heroBachgroundGradient {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.9) 45%,  rgba(0,0,0,0.7) 65%, rgba(0,0,0,0) 100%);
}
